<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>

<div class="container">
    <div class="row">
      <div class="col-md-6"><img src="/static/images/touxiang.jpg" width="100" height="100"></div>
      <div class="col-md-6 text-right text-uppercase">
        <h1>Sara zhang</h1>
        <h3>interior designer</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="/static/images/zhong.jpg" height="350" width="1140" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Featured Work</h2>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="/static/images/1.jpg" width="555" height="300">
        <h3>Appify</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
      <div class="col-md-6">
        <img src="/static/images/2.jpg" width="555" height="300">
        <h3>Appify</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="/static/images/3.jpg" width="555" height="300">
        <h3>Appify</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
      <div class="col-md-6">
        <img src="/static/images/4.jpg" width="555" height="300">
        <h3>Appify</h3>
        <p><a href="http://github.com">Link to project</a></p>
      </div>
    </div>
</div>

</body>
</html>